<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="admin/fragments/head :: head"></head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar -->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    <!--  Main  -->
    <div class="body-wrapper">
        <!--  Header  -->
        <div th:replace="admin/fragments/header :: header"></div>
        <!--Content  -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-10">
                    <h1>Trang article</h1>
                </div>
                <div class="col-2">
                    <a href="/admin/article/add" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add</a>
                </div>
            </div>
            <form action="">
                <table class="table table-hover">
                    <thead>
                    <tr class="row">
                        <th class="col-1">#</th>
                        <th class="col-2" >Code</th>
                        <th class="col-3" >Title</th>
                        <th class="col-2" >Thumbnail</th>
                        <th class="col-2" >Create date</th>
                        <th class="col-2" >Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row" th:each="article,stage : ${list_article}">
                        <td class="col-1" th:text="${stage.count}"></td>
                        <td class="col-2" th:text="${article.code}"></td>
                        <td class="col-3" th:text="${article.title}"></td>
                        <td class="col-2">
                                <img th:src="@{${article.thumbnail}}" alt="" width="150" height="80">
                        </td>
                        <td class="col-2" th:text="${article.create_date}"></td>
                        <td class="row col-2">
                            <a th:href="@{article/details/{id}(id=${article.id})}"
                               class="d-flex align-items-center justify-content-center ms-1 col-3 btn btn-primary" style="height: 30px">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a th:href="@{article/delete/{id}(id=${article.id})}"
                               class="d-flex align-items-center justify-content-center ms-1 col-3 btn btn-danger" style="height: 30px" onclick="return confirm('Bạn có chắc muốn xóa không?')">
                                <i class="fa-solid fa-trash"></i></a>
                            <a th:href="@{article/update/{id}(id=${article.id})}"
                               class="d-flex align-items-center justify-content-center ms-1 col-3 btn btn-info"  style="height: 30px">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!--Content End-->
    </div>
</div>
</body>
<footer>
    <div th:replace="admin/fragments/footer :: footer"></div>
</footer>
</html>