<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signin</title>
  <link rel="shortcut icon" type="image/png" href="" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body >
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" style="background-color: black">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100" >
          <div class="col-md-8 col-lg-6 col-xxl-3" >
            <div class="card mb-0" style="background-color:#3b424b ;border-color: #3b424b">
              <div class="card-body" style="background-color:#1d1e26 ;border-radius: 35px;border-color: #3b424b; width: 450px">
                <div class="d-flex justify-content-center">
                  <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100 ">
                    <img src="../assets/images/logos/favicon.png" width="40" alt="">
                  </a>
                </div>
                <p class="text-center" style="color: #EAEFF4">Login to Souna</p>
                <form action="/login" method="post" th:object="${user}">
                  <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label text-light" >Username</label>
                    <input type="email" name="user_name" class="form-control text-light" id="exampleInputEmail1" th:field="*{user_name}" aria-describedby="emailHelp" style="background-color: #2c3034;border-color: #2c3034">
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label text-light">Password</label>
                    <input type="password"  class="form-control text-light" id="exampleInputPassword1" name="pass_word" th:value="${user.pass_word}" style="background-color: #2c3034;border-color: #2c3034">
                  </div>
                  <p class="mb-4" style="color: red" th:text="${ERROR}"></p>
                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                  <div class="d-flex align-items-center row mb-5">
                    <div class="col-6">
                      <a class="text-primary fw-bold" href="/login">Forgot Password ? </a>
                    </div>
                    <div class="col-6 text-end">
                      <a class="text-primary fw-bold ms-2 justify-content-end" href="register">Create an account</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>