<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments/head :: head"></head>

<body style="background-color: #0f1317">
<!-- Left Panel -->
<div th:replace="user/fragments/sidebar :: sidebar"></div>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <div th:replace="user/fragments/header :: header"></div>
    <!-- Content -->
    <div class="content row d-flex justify-content-center">
        <th:block th:each="article : ${articlesForUser}">
            <a th:href="@{article/detail/{id}(id=${article.id})}" class="card m-3"
               style="width:310px;height: 370px ;background-color: #1d1f27; border-radius:10px ;border: 1px solid #3e4450">
                <div class="card-body">
                    <h4 class="card-title" style="color: white ;font-size: large;font-weight: bold"
                        th:text="${article.title}"></h4>
                    <p class="card-text" th:text="${article.short_description}"></p>
                    <!--  <a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
                <img class="m-2 " th:src="@{${article.thumbnail}}" alt="Image" width="290" height="170"
                     style="border-radius: 15px">
            </a>
        </th:block>
    </div>
    <!-- /.content -->
    <!-- /#right-panel -->

    <!-- Footer -->
    <div th:replace="user/fragments/footer :: footer"></div>
</div>

</body>
</html>
